<h1>All posts</h1>
<%= link_to 'Create Post', controller: 'posts', action: 'new' %>
<p>
<% @posts.each do |post| %>
      <hr/>
      <div>
            <h3><%= link_to post.title, post_path(post) %></h3>
            <p><%= post.text.length > 100 ? post.text[0..97] + '...' : post.text%></p>
      </div>
<% end %>
</p>